  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="privacy">
          <a href="mailto:info@specia.pro"  target="_blank" class="privacy__link">info@specia.pro</a>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/groups/specia/" class="social__link social__link--facebook"></a>
          <a href="https://vk.com/specia_pro" class="social__link social__link--vk"></a>
          <a href="https://www.instagram.com/specia_pro/" class="social__link social__link--insta"></a>
        </div>
        <div class="contacts">
          <p class="contacts__text">Сайт содружества <a href="http://specia.pro/" class="contacts__link">specia.pro</a></p>
        </div>
      </div>
    </div>
  </footer>
  
  @@if (jquery === true) { @@include('jquery.html') }
  <script src="@@path@@jsFile"></script>
</body>
</html>