.promo {
  position: relative;
  // padding-top: 50px;
  height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;

  & > .container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 75px;
    padding-bottom: 75px;
  }
  

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: @bg-blue;
    opacity: 0.2;
    z-index: -1;
  }

  &__title {
    font-size: 25px;
    text-transform: uppercase;
    color: @white;
    font-weight: normal;
  }

  &__bigtitle {
    display: block;
    font-size: 50px;
    color: @red;
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0;
  }

  &__description {
    font-size: 20px;
    color: @white;
    font-weight: normal;
    max-width: 680px;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  &__endtime {
    margin-top: 90px;
    font-size: 24px;
    font-family: @font-circe;
    text-transform: uppercase;
    color: @white;
    font-weight: normal;

    & strong {
      font-family: @font-circe;
      font-weight: normal;
      color: @red;
    }
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: @white;
    padding: 13px 20px;
    font-weight: bold;
    border: 3px solid @red;
    text-decoration: none;
    box-sizing: border-box;
    min-width: 210px;
    max-width: 350px;
    transition: all 0.3s ease;

    &:hover {
      background-color: @red;
    }
  }

}

.count {
  padding-top: 80px;

  &__info {
    font-size: 16px;
    text-transform: uppercase;
    color: @white;
    font-family: @font-circe;
    font-weight: bold;
  }
}

.timer {
  text-align: center;
  color: @white;
  box-sizing: border-box;
  
  &__item {
    display: inline-block;
    margin: 30px;
    transform: rotate(-45deg);
    transform-origin: 32px 32px;
    font-family: @font-circe;
  }

  &__number {
    width: 60px;
    height: 60px;
    border: 4px solid #c32a52;
  }

  &__num {
    font-size: 35px;
    display: block;
    line-height: 60px;
    transform: rotate(45deg);
  }

  &__text {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 31px;
    text-transform: uppercase;
    margin-left: 2px;
  }
}