.footer {
  font-size: 0;
  background-color: @white;
  padding: 20px 0 16px;
  font-family: @font-circe;
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // position: fixed;
  // width: 100%;
  // bottom: 0;
  // left: 0;
  // z-index: 2;
  
  .privacy {
    .col-4;
    float: none;
    display: inline-block;
    vertical-align: middle;

    &__link {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      color: @text-gray;
      font-size: 12px;
      // line-height: 35px;
    }
  }

  .social {
    .col-4;
    float: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    &__link {
      width: 31px;
      height: 31px;
      display: inline-block;
      margin: 0 5px;
      background-image: url(/img/sprite.png);
      background-repeat: no-repeat;

      &--facebook {
        background-position: -251px -31px;
        &:hover {
          background-position: -251px 0;
        }
      }

      &--vk {
        background-position: -282px -31px;
        &:hover {
          background-position: -282px 0;
        }
      }

      &--insta {
        background-position: -220px -63px;
        &:hover {
          background-position: -252px -63px;
        }
      }

    }

  }

  .contacts {
    .col-4;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: right;

    &__text {
      margin: 0;
      // line-height: 35px;
      font-size: 12px;
      text-transform: uppercase;
      color: @text-gray;
    }

    &__link {
      text-decoration: none;
      color: @red;
    }
  }

}