.header {
  // position: fixed;
  // width: 100%;
  // top: 0;
  // left: 0;
  background-color: @bg-color;
  text-align: center;
  padding: 24px 0 20px 0;
  // z-index: 2;

  &__link {
    display: inline-block;

    & svg {
      width: 166px;
      height: 25px;
    }

    & .cls-1 {
      fill: @text-gray;
    }
  }
}
