@font-face { 
  font-family: 'Lato';
  src: url('/fonts/lato-medium.woff2') format('woff2'), 
       url('/fonts/lato-medium.ttf') format('truetype'),
       url('/fonts/lato-medium.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Lato';
  src: url('/fonts/lato-bold.woff2') format('woff2'), 
       url('/fonts/lato-bold.ttf') format('truetype'),
       url('/fonts/lato-bold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}

